.App {
  text-align: center;
}
.text {
  color:blue; text-decoration: underline;
  position: relative;
}
.product-box {
  width: 100%;
  border: 2px solid rgb(236, 198, 148);
  border-radius: 10px;
  background-color: antiquewhite;
}
.img {
  width: 100%;
  height: 300px;
}